.main__container {
  margin: 50px 0;
}

.main__container-header {
  font-size: 2rem;
  text-align: center;
}

.main__container-header::after {
  content: "";
  display: block;
  width: 115px;
  height: 4px;
  background-color: rgba(38, 70, 111, 0.8);
  margin: 5px auto;
  border-radius: 4px;
}

.main__products {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
}

@media (min-width: 620px) {
  .main__products {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .main__products {
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }
}
