.cart__items-container {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.cart__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.cart__empty h2 {
  margin-bottom: 10px;
}

.cart__empty a {
  padding: 12px 28px;
  border-radius: 5px;
  border: 1px solid var(--blue);
  background-color: transparent;
  cursor: pointer;
}

.cart__empty a:hover {
  transition: all 0.3s ease-in-out;
  background-color: var(--blue);
  color: var(--white);
}

.cart__table {
  width: 100%;
  text-align: left;
  margin: 30px auto;
  border-collapse: collapse;
}

.table__style tr:nth-child(even) {
  background-color: rgba(38, 70, 111, 0.1);
}

.table__style td {
  border-top: 1px solid rgba(38, 70, 111, 0.3);
  border-bottom: 1px solid rgba(38, 70, 111, 0.3);
  padding: 10px 0;
}

.cart__img {
  width: 50px;
}

.no__cart-items {
  text-align: center;
  margin: 50px 0;
}

.cart__delete-btn {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--blue);
}

.back__shopping {
  align-self: flex-start;
}

.back__shopping a {
  padding: 12px 28px;
  border-radius: 5px;
  border: 1px solid var(--blue);
  background-color: transparent;
  cursor: pointer;
}

.back__shopping a:hover {
  transition: all 0.3s ease-in-out;
  background-color: var(--blue);
  color: var(--white);
}

.total {
  font-size: 1.25rem;
  align-self: flex-end;
  font-weight: 600;
}

.alignment {
  display: flex;
  justify-content: space-between;
}

.test {
  min-height: 62vh;
}

@media (min-width: 1024px) {
  .cart__items-container {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 1201px) {
  .cart__items-container {
    width: 70%;
    margin: auto;
  }

  .test {
    min-height: 60vh;
    overflow-x: scroll;
  }
}
