.card {
  max-width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 20px 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card__image img {
  height: 250px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card__header,
.card__body,
footer {
  margin: 10px;
}

.card__header h1 {
  font-size: 1.5rem;
}

.card__body p:first-child {
  line-height: 1.5;
  margin-bottom: 10px;
}

.card__body p:nth-child(2) {
  text-align: end;
  font-weight: 700;
  padding-right: 12px;
}

.card__actions {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}

.card__actions a {
  padding: 12px 28px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
}

.card__actions button {
  padding: 12px 28px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
}
