.header__container {
  margin: 10px;
  height: 6vh;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__links li {
  margin-right: 10px;
}

@media (min-width: 481px) {
  .header__container {
    width: 90%;
    margin: 10px auto;
  }
}
