.header__container {
  margin: 10px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__links li {
  margin-right: 10px;
}